header,
nav,
section,
article,
aside,
footer {
  display: block
}

header {
  width: 100%;
  height: 843px;
  background: url(../img/header.png) no-repeat;
}

.sait_header {
  width: 960px;
  height: 800px;
  margin: 0 auto;
}

.logo {
  width: 150px;
  height: 38px;
  float: left;
  margin-top: 70px;
  background: url(../img/sprite.png);
}

.logo:after {
  display: block;
  content: '';
  clear: both;
}

.top_menu {
  /*width: 70%;*/
  height: 35px;
  float: right;
  margin-top: 72px;
}

.top_menu ul {
  height: 30px;
  line-height: 35px;
 /* padding-top: 75px;*/
}

.top_menu li {
  float: left;
  margin-left: 28px;
  padding: 0 5px;
  font-size: 16px;
}

.top_menu li:first-child {
  margin-left: 0;
}

.top_menu a {
  text-decoration: none;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.4);
}

.top_menu li:hover {
  border-bottom: 3px solid #edbfff;
}

.top_menu:after {
  display: block;
  content: '';
  clear: both;
}

.top_text {
  width: 50%;
  padding-top: 251px;
  float: left;
  clear: both;
}

.top_text h1, p {
  color: #fff;
}

.top_text h2 {
  color: #edbfff;
}

.top_telephone {
  width: 50%;
  height: 450px;
  margin-top: 130px;
  float: right;
  /*padding-top: 153px;*/
/*  z-index: 1;*/
  background: url(../img/photo_telephone.png) 0 0 no-repeat;
  background-position: center;
  /*margin-left: 50%;*/
  /*overflow: hidden;*/

}

.top_telephone:after {
  display: block;
  content: '';
  width: 80px;
  height: 75px;
  background-image: url(../img/sprite.png);
  background-position: 0 -48px;
  margin-left: 50%;
  margin-top: 35%;
}

article {
  width: 100%;
  height: 340px;
  background: linear-gradient(to top, #322539, #745083);
}



